/initrd.img.old
/vmlinuz.old
/vmlinuz
/var
/usr
/initrd.img
/lib
/lib32
/lib64
/proc
/sbin
/sys
/tmp
/etc
/bin
/boot
/dev
/run
/home/mc/.*
*.pyc
/home/mc/xdg-user-dirs/media/job
/home/mc/xdg-user-dirs/media/video
/home/mc/work
/home/mc/xdg-user-dirs/music
/home/mc/xdg-user-dirs/picture
/home/mc/xdg-user-dirs/document/
/home/mc/xdg-user-dirs/media/bin/epgdump_py
