
[Desktop Entry]
Type=Application
Exec=/home/mc/xdg-user-dirs/media/bin/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=mount_disk
Name=mount_disk
Comment[ja_JP]=
Comment=
