
[Desktop Entry]
Type=Application
Exec=/home/mc/xdg-user-dirs/media/ubin/update-img
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=update-img
Name=update-img
Comment[ja_JP]=
Comment=
