[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=update-background
Comment=update-background
Exec=/home/mc/xdg-user-dirs/media/bin/update-background.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
