
[Desktop Entry]
Type=Application
Exec=/home/mc/xdg-user-dirs/media/ubin/usb-disk-power-off
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=init-job
Name=init-job
Comment[ja_JP]=
Comment=
