[Unit]
Description=kernel module unloading
After=shutdown.target
Before=umount.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/home/mc/xdg-user-dirs/media/bin/unload-kernel-module.sh

[Install]
WantedBy=final.target
