# "Sony PLAYSTATION3 Controller"

ACTION=="add", KERNELS=="input*", SUBSYSTEMS=="input", ATTRS{name}=="Sony PLAYSTATION(R)3 Controller",   RUN+="/home/mc/xdg-user-dirs/media/bin/play-station-controller.sh pairing"
ACTION=="add", KERNELS=="input*", SUBSYSTEMS=="input", ATTRS{name}=="PLAYSTATION(R)3 Controller (*) MK", RUN+="/home/mc/xdg-user-dirs/media/bin/play-station-controller.sh battery"
