[Desktop Entry]
Name=ChangeAction
Type=Application
Exec=/home/mc/xdg-user-dirs/media/bin/change-action.sh %U
Icon=view-refresh-symbolic
Terminal=false
