[Desktop Entry]
Name=PlaceTS
Type=Application
Exec=/home/mc/xdg-user-dirs/media/bin/place-ts.sh %U
Icon=applications-multimedia-symbolic
Terminal=false
