[Desktop Entry]
Name=SafeShutdown
Type=Application
Exec=/home/mc/xdg-user-dirs/media/bin/safe_shutdown.sh %U
Icon=system-shutdown-panel
Terminal=false
