
[Desktop Entry]
Type=Application
Exec=sudo /usr/local/bin/fuse_mount
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=fuse-b25
Name=fuse-b25
Comment[ja_JP]=
Comment=
