
[Desktop Entry]
Type=Application
Exec=/usr/local/bin/myirexec
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=irexec
Name=irexec
Comment[ja_JP]=
Comment=
