
[Desktop Entry]
Type=Application
Exec=sudo /usr/local/bin/mymediatomb
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=mediatomb
Name=mediatomb
Comment[ja_JP]=
Comment=
